.ec-fullwidth-event {
    width: 100% !important;
    left: 0% !important;
}

.ec-event-body {
    flex-wrap: wrap;
}

.ec-list .ec-content {
    flex-direction: row;
    flex-wrap: wrap;
}

.ec-list .ec-day {
    min-width: 250px;
}